.description {
  margin: 50px 0;
}

.title {
  display: flex;
  font-size: 52px;
  text-shadow: 6px 6px 8px #e0fffd;
  background-image: linear-gradient(120deg, #306ad5 30%, #ff69b4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: center;
  margin: 15px 0;
  height: 70px;
}

.text {
  font-size: 18px;
  color: #4700b3;
}
