#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: azure;
}
body {
  font-family: "Brush Script MT", cursive;
  color: black;
  background-color: azure;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
